<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hierarchy view component</title>

    <link rel="stylesheet" href="../../css/orgTree-view.css">
    <link rel="stylesheet" href="../../css/orgTree.css">
</head>
<body>

    <!--Management Hierarchy-->
    <section class="management-hierarchy">
      
        <h1> 그리소프트 /조직도</h1>
        <div class="hv-container">
            <div class="hv-wrapper">

                <!-- Key component -->
                <div class="hv-item">

                    <div class="hv-item-parent">
                        <div class="person">
                            <img src="../../images/3.png" alt="">
                            <p class="name">
                                	대표 <b>/ CEO</b>
                            </p>
                        </div>
                    </div>

                    <div class="hv-item-children">

                        <div class="hv-item-child">
                            <!-- Key component -->
                            <div class="hv-item">

                                <div class="hv-item-parent">
                                    <div class="person">
                                        
                                        <p class="name">
                                         	경영지원팀
                                        </p>
                                    </div>
                                </div>

                                <div class="hv-item-children">

                                    <div class="hv-item-child">
                                        <div class="person">
                                            <img src="../../images/4.jpg" alt="">
                                            <p class="name">
                                                	<a href="insa.jsp">인사팀 <br></a> <b>/ Personnel Team</b>
                                            </p>
                                        </div>
                                    </div>


                                    <div class="hv-item-child">
                                        <div class="person">
                                            <img src="../../images/5.jpg" alt="">
                                            <p class="name">
                                                	회계팀  <br><b>/ Accounting Team</b>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="hv-item-child">
                                        <div class="person">
                                            <img src="../../images/6.png" alt="">
                                            <p class="name">
                                                	고객관리팀 <br><b>/  Customer Management Team</b>
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>


                        <div class="hv-item-child">
                            <!-- Key component -->
                            <div class="hv-item">

                                <div class="hv-item-parent">
                                    <div class="person">
                                        <p class="name">
                                          	개발팀
                                        </p>
                                    </div>
                                </div>

                                <div class="hv-item-children">

                                    <div class="hv-item-child">
                                        <div class="person">
                                            <img src="../../images/7.jpg" alt="">
                                            <p class="name">
                                                	개발1팀 <br><b>/ Back-end</b>
                                            </p>
                                        </div>
                                    </div>


                                    <div class="hv-item-child">
                                        <div class="person">
                                            <img src="../../images/11.jpg" alt="">
                                            <p class="name">
                                                	개발2팀 <br><b>/ Back-end</b>
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        
                              <div class="hv-item-child">
                            <!-- Key component -->
                            <div class="hv-item">

                                <div class="hv-item-parent">
                                    <div class="person">
                                        <p class="name">
                                            	디자인팀
                                        </p>
                                    </div>
                                </div>

                                <div class="hv-item-children">

                                    <div class="hv-item-child">
                                        <div class="person">
                                            <img src="../../images/15.png" alt="">
                                            <p class="name">
                                                	디자인1팀 <br><b>/ Front-end</b>
                                            </p>
                                        </div>
                                    </div>


                                    <div class="hv-item-child">
                                        <div class="person">
                                            <img src="../../images/13.png" alt="">
                                            <p class="name">
                                                	디자인2팀 <br><b>/ Front-end</b>
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
          
              <div style="text-align:center">    총 직원 보기  </div> 
        </div>
   
    </section>
</body>
</html>